<div
  class="card w-100 mt-5"
  style="position: fixed; left: 0; bottom: 0; width: 100%"
>
  <div class="footer">
    <h6 class="px-5">Copyright &#169; 2024 All Rights Reserved</h6>
    <div class="policy px-5">
      <h6>Privacy Policy</h6>
      <h6 class="px-3">Cookie Policy</h6>
    </div>
  </div>
</div>